/postgres/postgresData/*
/RMQ/*
/KDB/*
/golang/product/productServiceData/*
/golang/product/productsService_module
/golang/inventory/inventoryServiceData/*
/golang/inventory/inventoryService_module
/golang/notification/notificationServiceData/*
/golang/notification/notificationService_module
info.txt